@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter&display=swap');

:root {
    --bg-color: #FFDCA8;
    --black: #000000;
    --white: #FFFFFF;
    --purple: #DB46C3;
    --purple2: #FF00D6;
    --grey: #C4C4C4;
    --yellow: #F3C82D;
    --turquoise: #1ADEAF;
    --underline-animation-duration: 1s;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

body > * {
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, a, button {
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    margin: 0;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 6rem;
    text-align: center;
    color: var(--purple);
    text-shadow: 4px 4px var(--black);
}

h4 {
    font-size: 1.2rem;
}

p {
    font-family: 'Inter', sans-serif;
    margin-top: 0;
}
textarea {
    resize: none;
    height: 100%;
}
input, textarea {
    background-color: var(--grey);
    color: var(--black);
    border: 5px solid var(--black);
    border-radius: 5px;
    box-shadow: 4px 4px 0 var(--black);
    margin-bottom: 40px;
    padding: 1em;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    width: 100%;
}
input::placeholder, textarea::placeholder {
    color: var(--white);
}

section {
    margin-top: clamp(0px, calc(100vh - 100px), 200px);
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.contact {
    flex-direction: row;
    align-items: flex-start;
    gap: 150px;
}
.contact h2 {
    flex: 1;
}

footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: var(--black);
    border-radius: 50px 50px 0 0;
    margin-top: 100px;
}
.footer-icons {
    display: flex;
    gap: 40px;
    background-color: var(--white);
    border-radius: 500px;
    padding: 20px 40px;
}
.copyright {
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin: 0;
    color: var(--white);
}

img {
    max-width: 100%;
}

.flex {
    display: flex;
}

.mw-1200 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.mw-800 {
    max-width: 800px;
}

.landing-page {
    /*height: clamp(0px, 100vh, 1000px);*/
    min-height: 100vh;
    padding-top: 12%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page-container {
    padding: 0 100px;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
}
.navbar-container {
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
}

.logo {
    background-color: var(--black);
    color: var(--white);
    padding: 1em 2em;
    font-size: 1.7rem;
}
.main-navigation {
    display: flex;
    align-items: center;
    background-color: var(--white);
    border-radius: 0 0 10px 10px;
    box-shadow: 4px 4px 0 4px var(--black);
    outline: 5px solid var(--black);
    transform: translate(-8px, -8px);
}
.main-navigation ul {
    display: flex;
    transform: translateY(8px);
}
.main-navigation ul a {
    font-size: 1.7rem;
    color: var(--black);
    padding: 1em 1em;
    text-decoration: none;
}

.lp-heading {
    position: relative;
}

.lp-title {
    position: relative;
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.sound-mixer {
    margin-left: 100px;
}
.sound-mixer svg {
    height: 100%;
}
.mixer-control {
    xtransform: translateY(calc(-138px / 100 * 0));
}

.lp-info {
    display: flex;
    flex-grow: 1;
    position: absolute;
    right: 100px;
    bottom: 40px;
    gap: 40px;
}

.lp-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 600px;
}

.card {
    background-color: var(--white);
    border: 5px solid var(--black);
    border-radius: 5px;
    box-shadow: 4px 4px 0 var(--black);
    min-height: 400px;
    height: 40vh;
    aspect-ratio: 0.8;
    animation: fade-in-from-bottom .3s ease-in-out;
}
.card-title {
    padding: 10px 20px;
    font-size: 1.7rem;
    border-bottom: 5px solid var(--black);
}
.card-body {
    padding: 20px;
}
.card.yellow .card-title {
    background-color: var(--yellow);
}
.card.turquoise .card-title {
    background-color: var(--turquoise);
}
.card iframe {
    width: 100%;
    aspect-ratio: 1.8;
}
.card audio {
    width: 100%;
}

.lp-card {
    min-height: 290px;
}

button {
    font-size: 2rem;
    padding: 0.3em 0.6em;
    outline: 5px solid var(--black);
    border: none;
    cursor: pointer;
    margin-right: 40px;
    box-shadow: 4px 4px 0 5px var(--black);
    transition: all .3s;
    animation: grow-in 3s ease-in-out;
}
button a {
    text-decoration: none;
    color: inherit;
}
.main-button {
    background-color: var(--purple);
    transform: rotate(-3.06deg);
    animation: grow-in-primary .3s ease-in-out;
}
.secondary-button {
    animation: grow-in-secondary .3s ease-in-out;
}
.main-button:hover {
    background-color: var(--purple2);
    color: var(--white);
}
.button-underline {
    position: relative;
    bottom: -10px;
}

#underline-stroke-1 {
    animation-name: draw-from-left;
    animation-duration: calc(var(--underline-animation-duration) / 3);
    animation-timing-function: ease-in-out;
}
#underline-stroke-2 {
    animation-name: draw-from-right;
    animation-duration: calc(var(--underline-animation-duration) / 3);
    animation-delay: calc(var(--underline-animation-duration) / 3);
    animation-fill-mode: backwards;
    animation-timing-function: ease-in-out;
}
#underline-stroke-3 {
    animation-name: draw-from-left;
    animation-duration: calc(var(--underline-animation-duration) / 3);
    animation-delay: calc(var(--underline-animation-duration) / 3 * 2);
    animation-fill-mode: backwards;
    animation-timing-function: ease-in-out;
}

/*
.main-button::after {
    content: '';
    background-image: url("/img/marker-underline.svg");
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -125%;
    left: 10%;
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
}
*/
.secondary-button {
    background-color: var(--grey);
    transform: rotate(0.45deg);
}
.secondary-button:hover {
    background-color: var(--white);
}

.blob-shape {
    position: absolute;
    top: -13vh;
    right: -6vw;
    z-index: -1;
}

.background-line {
    position: absolute;
    pointer-events: none;
    z-index: -1;
    width: 2000px;
}
.background-line svg {
    overflow-x: visible;
}

.card-wrapper {
    display: flex;
    gap: 40px;
    margin-right: 4px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
}
.contact-form label {
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
}
.contact-form button {
    margin: 0 auto;
}
.profile {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.profile p {
    transform: translateX(20px);
    margin-right: 20px;
}

.profile-picture {
    shape-outside: url(./../img/lasse.png);
    float: left;
}

@keyframes draw-from-left {
    from {
        clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);    
    }
    to {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
}
@keyframes draw-from-right {
    from {
        clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);    
    }
    to {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
}

@keyframes grow-in-primary {
    from {
        transform: scale(0) rotate(-3.06deg);
    }
    to {
        transform: scale(1) rotate(-3.06deg);
    }
}
@keyframes grow-in-secondary {
    from {
        transform: scale(0) rotate(0.45deg);
    }
    to {
        transform: scale(1) rotate(0.45deg);
    }
}

@keyframes fade-in-from-bottom {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}